<header>
    <h1>Ejemplo de binding bidireccional</h1>
</header>
<main>
    <table>
        <thead>
            <tr>
                <th>ISBN</th>
                <th>TÍTULO</th>
                <th>AUTOR</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of bookList">
                <td>{{book.isbn}}</td>
                <td>{{book.title}}</td>
                <td>{{book.author.name}}</td>
                <td>
                    <input type="button" value="Borrar" (click)="deleteBook(book.isbn)">
                    <input type="button" value="Detalle" (click)="showBook(book.isbn)">
                </td>
            </tr>  
        </tbody>
    </table>
    <form id="createBook" name="createBook" onsubmit="return false">
        <fieldset>
            <legend>Datos del nuevo libro</legend>
            <div>
                <label for="isbn">ISBN:</label>
                <input type="text" id="isbn" name="isbn" [(ngModel)]="newBook.isbn"/>
            </div>
            <div>
                <label for="title">Título:</label>
                <input type="text" id="title" name="title" [(ngModel)]="newBook.title"/>
            </div>
            <div>
                <label for="author">Autor:</label>
                <input type="text" id="author" name="author" [(ngModel)]="newBook.author.name"/>
            </div>
        </fieldset>
        <input type="button" id="insertBook" name="insertBook" value="Añadir" (click)="insertBook()"/>
    </form>
    <div>
        <h2>Libro seleccionado:</h2>
        <h3>[ISBN: {{selectedBook.isbn}}] {{selectedBook.title}}, de {{selectedBook.author.name}}</h3>
    </div>
</main>