<form>
    <input type="text" name="filtroTitulo" [(ngModel)]="filtroTitulo" (keyup)="teclaPulsada.next($event)"/>
</form>
<table>
    <tr>

        <td>Nombre</td>
        <td>Autor</td>
        <td>Titulo</td>
    </tr>
    <tr *ngFor="let libro of listaLibros">

        <td>{{libro.isbn}}</td>
        <td>{{libro.autor}}</td>
        <td>{{libro.titulo}}</td>
        <td><input type="button" value="borrar" (click)="borrar(libro)"></td>
        <td><input type="button" value="Detalle" (click)="detalle(libro)"></td>
        <td><input type="button" value="Actualizar" (click)="actualizar(libro)"></td>

    </tr>
</table>

<div>
    <p>{{libroSeleccionado.isbn}}</p>
    <p>{{libroSeleccionado.titulo}}</p>
    <p>{{libroSeleccionado.autor}}</p>
</div>

<form>
    <p>
        <input type="text" name="isbn" [(ngModel)]="libroNuevo.isbn" />
    </p>
    <p>
        <input type="text" name="titulo" [(ngModel)]="libroNuevo.titulo" />
    </p>
    <p>
        <input type="text" name="autor" [(ngModel)]="libroNuevo.autor" />
    </p>

    <div *ngIf="editing; then  editButton else  createButton"></div>
    <ng-template #createButton>
        <input type="button" value="insertar" (click)="insertar()" />

    </ng-template>
    <ng-template #editButton>
        <input type="button" value="actualizar" (click)="botonActualizar()" />
    </ng-template>



</form>