<header>
    <h1>CREACIÓN DE UN NUEVO LIBRO</h1>
</header>
<main>
    <form id="insertBookForm" name="insertBookForm" onsubmit="return false">
        <fieldset>
            <legend>Datos del nuevo libro</legend>
            <div>
                <label for="isbn">ISBN:</label>
                <input type="text" id="isbn" name="isbn" [(ngModel)]="newBook.isbn" />
            </div>
            <div>
                <label for="title">Título:</label>
                <input type="text" id="title" name="title" [(ngModel)]="newBook.title" />
            </div>
            <div>
                <label for="author">Autor:</label>
                <select name="author" id="author" [(ngModel)]="authorIdForNewBook">
                    <option *ngFor="let author of authorList" name="author" value="{{author.id}}">{{author.name}}</option>
                </select>
            </div>
        </fieldset>
        <input type="button" id="insertBook" name="insertBook" value="Añadir" (click)="insertBook()" />
    </form>
    <div class="links">
        <input type="button" id="bookList" name="bookList" value="Volver al listado" (click)="redirectToBookList()"/>
    </div>
</main>